---
title: Plantillas en Firefox 3
slug: Mozilla/Firefox/Releases/3/Templates
tags:
  - Firefox 3
translation_of: Mozilla/Firefox/Releases/3/Templates
original_slug: Plantillas_en_Firefox_3
---
<div>{{FirefoxSidebar}}</div>

<p>Las plantillas se han mejorado enormemente en Firefox 3. La mejora más importante permite el uso de <a href="/es/Cómo_implementar_un_componente_procesador_de_consultas_XUL" title="es/Cómo_implementar_un_componente_procesador_de_consultas_XUL">procesador de consultas personalizado</a> para manejar otro tipo de fuentes de datos además de RDF. Esto es posible gracias a la nueva sintaxis de consultas. También se incluyen soporte para SQL (<a href="/es/Almacenamiento" title="es/Almacenamiento">mozStorage</a>) y fuentes de datos XML. Ya {{ interwiki('wikimo', 'XUL:Template_Features_in_1.9', 'está disponible') }} una descripción completa de las nuevas características para plantillas. ({{ Bug(285631) }})</p>

<h3 id="Otras_mejoras" name="Otras_mejoras">Otras mejoras</h3>

<ul>
 <li>Se han añadido condiciones relacionales para que los resultados encontrados cumplan la norma con una mayor exactitud. Esto permite, por ejemplo, que se encuentren resultados que empiecen o terminen con determinados hilos, o que son antes o después otros valores.</li>
 <li>Se ha incluido una bandera, <code>dont-recurse</code>, para evitar que se repitan resultados generados tan solo a un nivel.</li>
 <li>Se han añadido APIs al editor de plantillas para recuperar un objeto de resultado que representa un dato externo.</li>
 <li>Se ha mejorado el servicio tipo XUL <a href="/es/XUL/Guía_de_plantillas/Ordenar_resultados" title="es/XUL/Guía_de_plantillas/Ordenar_resultados">clasificando</a> mejor tanto el árbol de contenido como el de sin contenido. También permite clasificar contenidos de plantillas no editables.({{ Bug(335122) }})</li>
</ul>

<h3 id="V.C3.A9ase_tambi.C3.A9n" name="V.C3.A9ase_tambi.C3.A9n">Véase también</h3>

<ul>
 <li><a href="/es/Firefox_3_para_desarrolladores" title="es/Firefox_3_para_desarrolladores">Firefox 3 para desarrolladores</a></li>
</ul>

<p>{{ languages( { "en": "en/Templates_in_Firefox_3", "fr": "fr/Templates_dans_Firefox_3", "ja": "ja/Templates_in_Firefox_3" } ) }}</p>
