# ----------------------------------------------------------------------------
# CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ----------------------------------------------------------------------------

* @mdn/engineering

# Content
/files/       @mdn/content-team
/files/es/    @mdn/es-content
/files/fr/    @mdn/fr-content
/files/ja/    @mdn/ja-content
/files/ko/    @mdn/ko-content
/files/pt-br/ @mdn/pt-br-content
/files/ru/    @mdn/ru-content
/files/zh-cn/ @mdn/zh-content
/files/zh-tw/ @mdn/zh-content

# Translation guide
/docs/        @mdn/content-team
/docs/es/     @mdn/es-content
/docs/fr/     @mdn/fr-content
/docs/ja/     @mdn/ja-content
/docs/ko/     @mdn/ko-content
/docs/pt-br/  @mdn/pt-br-content
/docs/ru/     @mdn/ru-content
/docs/zh-cn/  @mdn/zh-content
/docs/zh-tw/  @mdn/zh-content

# Issue templates
/.github/ISSUE_TEMPLATE/                       @mdn/content-team
/.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/es-content
/.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/fr-content
/.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/ja-content
/.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/ko-content
/.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/pt-br-content
/.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/ru-content
/.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/zh-content
/.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/zh-content

# Miscellaneous
/.github/            @mdn/engineering
/.github/CODEOWNERS  @mdn/engineering
/*                   @mdn/engineering
/*.md                @mdn/content-team @mdn/engineering 
/CONTRIBUTING.md     @mdn/content-team          
/PEERS_GUIDELINES.md @mdn/content-team
/SECURITY.md @mdn/engineering

# Reset until https://github.com/prettier/prettier/issues/11828 is fixed
/.prettierignore
