# This .prettierignore file uses .gitignore syntax
# see https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

# Generated content
build/
/files/**/_wikihistory.json
/files/**/_githistory.json

# Conflicting/orphaned files
/files/**/conflicting/**/*.md
/files/**/orphaned/**/*.md
