---
title: Components
slug: Components
tags:
  - Disambiguation
---
<ul>
 <li><a href="ja/XPCOM_components_list">XPCOM components list</a></li>
 <li><a href="ja/Components_object">Components object</a> (XPConnect)</li>
</ul>

<div><div class="disambig" id="disambig"><p><i>これは<a href="https://developer.mozilla.org/ja/docs/Project:Disambiguation">あいまい性除去</a>のページです — 同じ題名を共有している可能性のあるページをリストして案内を補助します。 記事のリンクからここに来たのであれば、戻って意図するページに直接行くように修正することもできます。</i></p></div></div>

<div class="noinclude"> </div>

<p>{{ languages( { "en": "en/Components", "fr": "fr/Components", "ko": "ko/Components" } ) }}</p>
