name: Markdownlint (All files)

on:
  pull_request:
    branches:
      - main
    paths:
      - .nvmrc
      - .markdownlint-cli2.jsonc
      - "**/.markdownlint.jsonc"
      - package.json
      - package-lock.json
      - .github/workflows/markdown-lint.yml
      - .github/workflows/markdownlint-problem-matcher.json

permissions: {}

jobs:
  docs:
    # do not run on forks
    if: github.repository == 'mdn/translated-content'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Install
        run: npm ci
        env:
          # https://github.com/microsoft/vscode-ripgrep#github-api-limit-note
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint markdown files
        run: |
          echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
          npm run lint:md
