name: Lint YAML

on:
  pull_request:
    branches:
      - main
    paths:
      - .nvmrc
      - package-lock.json
      - "**/*.yml"
      - .github/workflows/pr-check_yml.yml

permissions: {}

jobs:
  docs:
    # do not run on PRs in forks
    if: github.repository == 'mdn/translated-content'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Install
        run: npm ci
        env:
          # https://github.com/microsoft/vscode-ripgrep#github-api-limit-note
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint markdown files
        run: npm run lint:yml
