name: "Pull Request Labeler"
on:
  - pull_request_target

jobs:
  triage:
    # do not run on PRs in forks
    if: github.repository == 'mdn/translated-content'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
